#post {
    background-color: rgb(248, 248, 248);
    display: flex;
    text-align: center;
    max-width: 800px;
    height: 240px;
    gap: 16px;
    border-radius: 2px;
    padding: 20px;
    box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.132);
}

#titulo {
    font-size: 2rem;
}

#post-imagem {
    width: 45%;
    height: 300px
}

#post-imagem img {
    width: 100%;
    border-radius: 7px;
    height: 245px;
}

#containerInfos {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 55%;
}

#autor {
    text-align: start;
    font-weight: bold;
}

#titulo {
    width: 100%;
    white-space:nowrap; /* Impede que o texto quebre em várias linhas */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa a largura da div */
    text-overflow: ellipsis; /* Adiciona reticências (...) para indicar mais texto */
}
#conteudo {
    overflow: hidden; /* Esconde o conteúdo que ultrapassa a largura da div */
    text-overflow: ellipsis; /* Adiciona reticências (...) para indicar mais texto */
    font-size: 1.1rem;
    height: 110px;
}


@media screen and (max-width: 910px) {
    #post {
        width: 300px;
        flex-direction: column;
    }

    #containerInfos {
        width: 100%;
        height: 200px;
    }
    
    #post-imagem {
        display: flex;
        align-self: center;
    }

    #conteudo {
        height: 45px;
    }
}