* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgb(194, 194, 194);
}

main {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 320px;
    width: 400px;
    border: 1px solid black;
}
h1, #form, main div:nth-child(3){
    padding: 20px;
}

h1 {
    background-color: rgb(59, 89, 152);
    color: white;
}
#form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form input {
    width: 80%;
}