* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgb(244, 244, 244);
}

header {
    background-color: rgb(59, 89, 152);
    text-align: center;
    padding-block: 20px;
    color: white;
}

#container-post {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 300px;
    padding: 20px;
    border: 2px solid black;
}

#container-post input {
    width: 80%;
    margin-top: 10px;
}