header {
    background-color: rgb(59, 89, 152);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 20px;
    color: white;
}

header div {
    display: flex;
}

#h1-header {
    color: white;
}

#usuario-container {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

#btnCriarPost, #btnGerenciar {
    background-color: rgb(94, 185, 64);
    text-transform: uppercase;
}

#btnPagInicial {
    background-color: rgb(130, 145, 182);
}

#btnSair {
    background-color: rgb(231, 0, 0);
}

#btnCriarPost, #btnGerenciar, #btnSair, #btnPagInicial {
    cursor: pointer;
    color: white;
    border: none;
    padding: 2px 16px;
    border-radius: 2px;
}

#titulo {
    font-size: 2rem;
}